<product-accordion>
  <div 
    class="accordion-header {% if block.settings.keep_open %}accordion__item--active{% endif %}"
  >
    {% if block.settings.heading != blank %}
      <p class="accordion-heading">
        {% render 'accordion-caret' %}
        <span>
          {% if block.settings.heading != blank %}
            {{ block.settings.heading }}
          {% endif %}
        </span>
      </p>
    {% endif %}
  </div>
  <div 
    class="accordion-content {% if block.settings.keep_open %}accordion-content--open{% endif %}"
  >
    {{ product.description }}
  </div>
</product-accordion>