<div class="product-information-text__detail">
  <h1>{{ product.title | escape }}</h1>
  <span class="product-detail__divider"> </span>
  <div class="product-detail__price">
    <span>{{ product.price | money }}</span>
  </div>
  <p class="product-detail__taxes">
    {%- if cart.taxes_included or cart.duties_included or shop.shipping_policy.body != blank -%}
      {{ 'products.product.taxes_and_duties' | t }}
    {%- endif -%}
  </p>
</div>